body {
    width: 100%;
    height: 100%;
    font-family: Arial;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 984px;
    margin: 0 auto;
}

.header {
    background: center / cover url("./assets/background-image.jpg") no-repeat;
    padding: 0 12px;
}

.header-inner {
    height: 150px;
    position: relative;
}

.header-logo {
    position: absolute;
    bottom: -50px;
    left: 0;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: white center / 80px 80px url("./assets/logo.jpg") no-repeat;
}

.content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    max-width: 100%;
}

.main-title {
    width: 100%;
}

.main-info {
    width: 80%;
}

.contact {
    width: 20%;
}

.contact-person {
    width: 100%;
}

.contact-person-img {
    width: 48px;
    border-radius: 50%;
}

.contact-person-info {
    display: inline-block;
}

.follow-icon {
    width: 24px;
}

.area-title {
    padding: 6px;
}

.area-item {
    display: inline-block;
    background-color: #d9d9d9;
    margin-bottom: 6px;
    margin-right: 6px;
}

.area-logo {
    display: inline-block;
    padding: 3px;
}

.areas-list {
    max-width: 500px;
    padding: 6px;
}

.area-logo-inner {
    width: 18px;
}

.area-logo-internet {
    background-color: #5A4D99;
}

.area-logo-culture {
    background-color: #BFCC36;
}

.area-logo-handshake {
    background-color: #1A587A;
}

.footer {
    display: flex;
}

.footer-title {
    display: inline-block;
}

.footer-search {
    display: inline-block;
    margin-left: auto;
    width: 18px;
}

.page-second {
    background-color: #f2f2f2;
}

.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards-header {
    display: flex;
}


.cards-search {
    margin-left: auto;
    padding: 0 20px;
}

.search-image {
    width: 17px;
    position: absolute;
    padding: 4px 7px;
}

.search__image {
    padding: 2px 7px;
}

.search-bar {

    height: 21px;
    border-radius: 3px;
    box-shadow: none;
    outline: 0;
    border: 1px solid #757575;
    padding-left: 29px;
    width: 100%;
    box-sizing: border-box;
}

.search-bar {
    width: 300px;
}


.card {
    background-color: white;
    padding: 18px;
    flex-direction: column;
    width: 30%;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 24px;
    min-width: 240px;
}

.card-image {
    width: 80px;
    height: 80px;
    margin-right: 12px;
    cursor: pointer;
}

.card-title {
    display: inline-block;
    margin-top: 0;
}

.card-header {
    display: flex;
}

.card-info {
    font-weight: 400;
    margin-bottom: 0;
}

.card-author {
    margin-bottom: 18px;
    min-height: 24px;
}

.card-description {
    height: 72px;
    margin-bottom: 18px;
}

.card-label {
    color: #009df2;
    padding: 2px 6px;
    border: 1px solid;
    border-radius: 4px;
    display: inline-flex;
    text-align: center;
}

.card-bottom-view {
    margin-top: auto;
}


.card-format {
    font-size: 14px;
    color: #383838;
    padding-bottom: 10px;
}


.card-button {
    text-align: center;
    width: 100%;
    background-color: #ffa500;
    border-color: #e69500;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    padding: 5px 24px;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
}

/*div, h1, h2 {*/
/*outline: 1px solid rebeccapurple;*/

/*}*/

@media (max-width: 648px) {
    .main-info, .contact {
        width: 100%;
    }
}


